<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Azure user group Norway aim to create a platform for everyone to learn and share. Our focus is on Microsoft Azure and we welcome everyone whether your background is an IT Pro, developer, anything in between.</p>

<p>At any given time you can find our next event over <a href="https://www.meetup.com/azure-user-group-norway/" target="_blank">on our Meetup.com group.</a>We arrange local, regional and virtual events as often as we can, but at least once per quarter.</p>
<p>If you feel the urge to share. Our <a href="https://sessionize.com/azure-user-group-norway/" target="_blank">call-for-papers</a> is open to everyone, and we encourage unexperienced speakers to use Azure user group Norway as their stepping stone on to the big stage.</p>