<nav id="nav">
  <ul class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
      <li class="nav-item">
        <a href="#{{ $section }}" target="_self" title="{{ index $.Site.Params.Titles $section }}" class="nav-link">
          {{ index $.Site.Params.Titles $section }}
        </a>
      </li>
      {{ end }}
      <li class="nav-item">
        <a href="https://www.meetup.com/Azure-User-Group-Norway/" target="_blank" title="Azure UG Norway on Meetup.com" class="nav-link">Our meetups</a>
      </li>
      <li class="nav-item">
        <a href="https://sessionize.com/azure-user-group-norway/" target="_blank" title="Azure UG Norway call for papers" class="nav-link">Call for papers</a>
      </li>
      <li class="nav-item">
        <a href="https://www.youtube.com/@azureusergroupnorway" target="_blank" title="Azure UG Norway YouTube recordings" class="nav-link">YouTube</a>
      </li>
  </ul>
</nav>

<hr>
