<div class="schedule-tbl">
  <h2 class="section-title">Next planned events</h2>

<p itemprop="description">Below you'll find a list of our next planned events. If the list is empty, we are actively working in the backgroud on our next gathering. We are looking forward to see</p>
<p>All participants will need to sign up using our <a href="https://www.meetup.com/azure-user-group-norway/" target="_blank">Meetup.com group</a>.</p>
  <script type="text/javascript" src="https://sessionize.com/api/v2/yp8v2ppi/view/GridSmart"></script>
</div>